.item {
    width: 500px;
    color: #353935;
    font-size: 20px;
    margin: 0 auto;
}

.itemName {
    font-weight: bold;
    padding: 20px;
}

.itemName:hover {
    cursor: pointer;
}

.line {
    border: 1px solid #f4f4f4;
}

.deleteButton {
    float: right;
    padding: 12px 20px;
    background-color: rgba(24, 143, 247, 0.922);
    border: none;
    color: white;
    font-weight: bold;
}

.deleteButton:hover {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}